.container{
    display: flex;
    height: calc(100vh - 64px) !important;
    align-items: center;
    justify-content: center;
  }
  img{
    width: 100%;
    height: 100px;
  } 
  .full-width{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
  }
  mat-card-actions{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  /* button{
    float: right;
  } */
  .mat-card {
    margin: 10px;
    max-width: 400px;
  }
  .mat-card-title{
    color: #bf0d60;
    font-size: 16px;
  }