<div class="container">
  <div layout="row" layout-align="center none">
    <mat-card>
      <mat-card-header>
        <!-- <mat-card-title><strong>Login in Your Account</strong></mat-card-title> -->
        <!-- <img mat-card-image src="" alt="my-region"> -->
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Email / Mobile</mat-label>
          <input matInput placeholder="Email / Mobile" [(ngModel)]="login_params.uname">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" [(ngModel)]="login_params.upwd">
        </mat-form-field>
        <mat-card-actions style="text-align: right">
          <button mat-flat-button color="primary" (click)="loginBtnClicked()">Login</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    <div class="full-width" style="text-align: center" *ngIf="displayMsg">
      <div [ngStyle]="{'color':displayMsg.status?'green':'red'}">{{displayMsg.msg}}</div>
    </div>
    <!-- <mat-card class="forgotpwd-card">
      <mat-card-header>
        <mat-card-title><strong>Forgot your password?</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width  ">
          <mat-label>Email / Mobile</mat-label>
          <input matInput placeholder="Email / Mobile">
        </mat-form-field>
        <mat-card-actions style="text-align: right">
            <button mat-flat-button color="primary">Submit</button>
          </mat-card-actions>
      </mat-card-content>
    </mat-card> -->
  </div>
  <!-- <div layout="row" layout-align="center none">
    <mat-card>
      <mat-card-header>
        <mat-card-title><strong>Do not have an account? Register</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Apartment Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Address</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Mobile</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-flat-button>Register</button>
      </mat-card-content>
    </mat-card>
  </div> -->
</div>