<div class="container">
  <div layout="row" layout-align="center none">
    <mat-card>
      <mat-card-header>
        <mat-card-title><strong>User Details</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div layout="row" layout-align="center none">
          <mat-form-field class="half-width">
            <mat-select placeholder="* District" (selectionChange)="districtChange($event.value)" [(ngModel)]="search_data.district_id">
              <mat-option *ngFor="let rec of districts" [value]="rec.district_id">
                {{rec.district_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>&nbsp;
          <mat-form-field class="half-width">
            <mat-select placeholder="Constituency" (selectionChange)="constituencyChange($event)" [(ngModel)]="search_data.constituency_id">
              <mat-option *ngFor="let rec of constituency" [attr.tehsil_id]="rec.tehsil_id" [value]="rec.constituency_id">
                {{rec.constituency_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>&nbsp;
          <mat-form-field class="half-width">
            <mat-select placeholder="Panchayat" [(ngModel)]="search_data.panchayat_id">
              <mat-option *ngFor="let rec of panchayat" [value]="rec.panchayat_id">
                {{rec.panchayat_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-card-actions>
          <button mat-flat-button color="primary" [disabled]="!validateUserAddForm()" (click)="searchData()">{{btnText}}</button>
          <button mat-flat-button (click)="clearData()">{{clearbtnText}}</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef> SNo </th>
      <td mat-cell *matCellDef="let element;let i = index;"> {{generateNo(i)}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="User Name">
      <th mat-header-cell *matHeaderCellDef> User Name </th>
      <td mat-cell *matCellDef="let element"> {{element.uname}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="Mobile">
      <th mat-header-cell *matHeaderCellDef> Mobile </th>
      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <ng-container matColumnDef="groupHeader">
      <td colspan="11" mat-cell *matCellDef="let element;">
        <strong>{{element.group_name}}</strong>
      </td>
    </ng-container>
  <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="itemsPerPage" [pageSizeOptions]="pages"></mat-paginator>  
</div>