<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" mode="side" opened>
    <mat-toolbar color="primary"><span class="title-center">My Region</span></mat-toolbar>
    <mat-nav-list>
      <button mat-icon-button>
        <mat-icon class="mat-icon-rtl-mirror">domain
        </mat-icon>
        Dashboard
      </button>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          <button mat-icon-button [attr.aria-label]="node.name"></button>
          <a routerLink="/{{node.link}}" style="cursor: pointer;">{{node.name}}</a>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            {{node.name}}
          </button>
        </mat-tree-node>
      </mat-tree>
      <button mat-icon-button (click)="doLogout()">
        <mat-icon class="mat-icon-rtl-mirror">logout</mat-icon>
        Logout
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="sidenav1">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>      
      <span class="toolbar-spacer"></span>
      <span class="title-center">{{userInfo["name"]}}</span>
      <button class="toolbar-icon" [matMenuTriggerFor]="profilemenu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #profilemenu="matMenu">
        <button mat-menu-item>
          <mat-icon>create</mat-icon>
          <span>Edit Profile</span>
        </button>
        <button mat-menu-item (click)="changePage('/general/changepassword')">
          <mat-icon>lock</mat-icon>
          <span>Change Password</span>
        </button>
        <button mat-menu-item (click)="doLogout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>