.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
    margin-top: 8px;
  }
  .sidenav1 {
    margin-top: 8px;
  }
  mat-toolbar{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  mat-sidenav-content{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    background: #4a78b3;
  }
  .tree-nav-invisible {
    display: none;
  }
  
  .tree-nav ul,
  .tree-nav li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .mat-tree-node{
    padding-left: 0px !important;
  }
  .title-center {
    margin: 0 auto;
  }
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  .toolbar-icon {
    margin-left: 8px;
    margin-right: 8px;
  }
  
  
  