/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div.wrapper{
    margin: 5px 5px 5px 5px;
  }
  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0px 10px 0px;
      justify-content: center;
    }
    .full-width{
        width: 100%;
    }
    button{
      margin-right: 10px;
  }
  mat-card-actions{
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
    table {
      width: 100%;
      /* margin-left: 10px; */
      /* margin: 10px 10px 10px 10px; */
    }
    th.mat-header-cell{
      text-align: center !important;
      color: white;
    }
    td.mat-cell{
      text-align: center;
    }
    .mat-header-row{
      background: #4a78b3;
    }
  .mat-flat-button{
        margin-right: 8px !important;
    }
    .mat-card{
        min-width:300px;
        /* max-width: 400px; */
    }
    .mat-card-actions{
      text-align: center;
    }
